<!-- FOOTER -->
<tr>
<td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
  <div style="position:relative;" class="sim-row">
    <!-- FOOTER TOP LABEL -->
    <table style="width:100%;background-color:rgb(45,40,70);" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="border-collapse:collapse;min-height:10px;" align="center" height="10">
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse;" align="center">
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="border-collapse:collapse;min-height:42px;" height="42">
                    <a rel="nofollow" style="overflow:hidden;display:block;text-decoration:none;" target="_blank" href="http://www.parentheze.com">
                      <img class="icoSocial " style="border:none;" alt="Parentheze_logo" src="https://res.cloudinary.com/doodlid/image/upload/v1509030237/parentheze/Parentheze_logo_white_small.png">
                    </a>
                  </td>
<!--                         <td style="border-collapse:collapse;min-height:42px;" height="42">
                      <a rel="nofollow" style="overflow:hidden;display:block;text-decoration:none;" target="_blank" href="">
                        <img class="icoSocial " style="border:none;" alt="instagram" src="https://s3-eu-west-1.amazonaws.com/lrqdo-ppr-news-images/design-templates/mag-instagram.png">
                      </a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse;min-height:10px;" align="center" height="10">
          </td>
        </tr>
      </tbody>
    </table>

    <table style="width:100%;background-color:#FFFFFF;" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="border-collapse:collapse;" align="center">
            <table class="width-572" style="width:100%;overflow-x:auto;max-width:572px;" width="572" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="border-collapse:collapse;" height="50"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse;" align="center">
            <table style="width:100%;overflow-x:auto;max-width:572px;" bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="border-collapse:collapse;" height="10"></td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;" align="center">
                    <span style="margin-bottom:0px;font-size:18px;line-height:30px;color:rgb(45,40,70);font-family:Arial, sans-serif;text-align:left;">
                        N’hésitez pas à nous écrire, à nous<br> proposer des idées et partager des expériences de vie en nous écrivant à </span>
                        <a rel="nofollow" style="color:#2D2846;display:inline;font-weight:bold;font-size:18px;text-decoration:none;font-family:Arial,sans-serif;" mailto="mailto:parentgenial@parentheze.com" target="_blank" href="mailto:parentgenial@parentheze.com">parentgenial@parentheze.com</a>.
                  </td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;" height="14"></td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;" height="35"></td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;" align="center">
                    <a rel="nofollow" style="overflow:hidden;text-decoration:none;" target="_blank" href="">
                      <img class="icoSocial " style="border:none;" alt="" src="">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;" height="52"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse;" align="center">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</td>

