<!-- INFO FACEBOOK -->
<tr>
  <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
    <div style="position:relative;">
      <table cellspacing="0" cellpadding="0" width="100%" style="width:100%;background-color:#FFF;" bgcolor="#FFF">
      <tbody>
        <tr>
          <td align="center" height="15" style="border-collapse:collapse;min-height:15px;">
          </td>
        </tr>
        <tr>
          <td align="center" style="border-collapse:collapse;">
            <a rel="nofollow" target="_blank" href="https://www.facebook.com/parenthezeapp/" style="display:block;text-decoration:none;">
              <table class="width-572 backgroundToChange" cellspacing="0" cellpadding="0" style="background-color:rgb(241, 178, 85 );width:100%;overflow-x:auto;max-width:572px;">
                <tbody><tr>
                  <td align="left" style="border-collapse:collapse;">
                  <table class="luVuBu-width-200" align="left" cellspacing="0" cellpadding="0" style="width:200px;">
                    <tbody><tr>
                      <td style="border-collapse:collapse;">
                        <div>
                          <img alt="Revue" class="image-LuVuBu" style="width:200px;min-height:200px;display:block;" src="https://res.cloudinary.com/doodlid/image/upload/v1509026950/parentheze/mailer_facebook_link.jpg">
                        </div>
                      </td>
                    </tr></tbody>
                  </table>
                  <table align="left" cellspacing="0" cellpadding="0" style="width:372px;">
                    <tbody>
                      <tr>
                        <td width="28" height="36" class="height-36" style="border-collapse:collapse;width:28px;min-height:36px;">
                        </td>
                        <td style="border-collapse:collapse;">
                        </td>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                      </tr>

                      <tr>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                        <td style="border-collapse:collapse;">
                            <strong class="textColorToChange sim-row-content7-title" style="font-weight:bold;font-family: Arial, sans-serif;color:rgb(255, 255, 255);font-size:20px;line-height:29px;text-transform:uppercase;text-align:left;"><%= title %></strong>

                        </td>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                      </tr>
                      <tr>
                        <td width="28" height="10" style="border-collapse:collapse;width:28px;min-height:10px;">
                        </td>
                        <td style="border-collapse:collapse;">
                        </td>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                      </tr>

                      <tr>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                        <td style="border-collapse:collapse;">
                            <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:rgb(255, 255, 255);font-size:21px;font-family:Arial, sans-serif;text-align:left;"><%= text %></div>
                        </td>
                        <td width="28" style="border-collapse:collapse;width:28px;">
                        </td>
                      </tr>
                      <tr>
                        <td class="luVuBu-bottom-height" height="0" style="border-collapse:collapse;min-height:0px;">
                        </td>
                        <td style="border-collapse:collapse;">
                        </td>
                        <td style="border-collapse:collapse;">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr></tbody>
              </table>
            </a>
          </td>
        </tr>
        <tr>
          <td align="center" height="15" style="border-collapse:collapse;min-height:15px;">
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </td>
</tr>
