<div class="col-12 col-md-8 col-lg-8 col-xl-9">
  <div class="row">
    <div class="col-12">
      <h5><%= t('.title') %></h5>
    </div>
    <div class="col-12">
        <%= render "invitation" %>
    </div>
  </div>
</div>
