  <div class="login-fields">
    <h3 class="white"><%= t('inscription.screen'<<step<<'.title') %></h3>
    <p class="white"><%= t('inscription.screen'<<step<<'.details') %></p>
  </div>
  <div class="form-actions">
    <%= link_to t('commons.button.back_to_root'), root_path, class:"btn btn-blue flexbox" %>
  </div>
