  <div class="login-fields login-fields-small">
    <h3 class="white"><%= t('.title') %></h3>
    <p class="white"><%= t('.details') %></p>
  </div>
  <div class="form-actions">
    <%= link_to t('commons.button.back_to_root'), root_path, class:"btn btn-blue flexbox" %>
  </div>
