<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple mosaic">
    <%= render "shared/pastille_action", path: root_path, icon: "fas fa-glass-martini", color: "yellow", class: "pastille_action" %>
    <div class="container">
      <div class="row">
        <%= render "header" %>
        <%= render "self_profile" %>
        <%= render "add_friend" %>
      </div>
    </div>
  </div>
</div>

