<% content_for :title_tag do t('.title') end %>

<div class="fullscreen relative flex-column flexbox text-center home" style="background-image: url(<%= t('.image') %>)">
  <div>
    <h1><%= t('.title') %></h1>
    <p><%= t('.text') %></p>
  </div>
</div>
