<div class="fullscreen relative flex-column text-center home" style="background-image: url('http://res.cloudinary.com/doodlid/image/upload/v1509373509/confirmation_m1bpvc.jpg')">
  <div>
    <h1>Merci et à bientôt!</h1>
    <p>Nous préparons Parentheze pour l'ouverture à la Béta test et vous serez parmi les premiers à en profiter.</p>
  </div>
</div>
