// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-gray: #F4F4F4;
$dark-gray: #4A4A4A;
$gray: #D0D0D0;
$medium-gray: #7E7E7E;

// Parentheze Theme

/*-------------------------------------------------
 * COLORS
 *------------------------------------------------- */

// Scheme
$purple : #1f0046;
$yellow : #F1B255;
$light-yellow : #ffd685;
$pink: #E12787;
$light-blue : #50E3C2;
