<table style="width:100%;background-color:#FFFFFF;" width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;width:100%;background-color:#FFFFFF;" align="center" width="100%" bgcolor="#FFFFFF">
        <img alt="parent-famille" class="imageBuzz" style="width:100%;min-height:auto;" src="http://res.cloudinary.com/doodlid/image/upload/v1509024402/parentheze/welcome_header.jpg" width="100%">
      </td>
    </tr>
    <tr>
      <!-- INTRO TEXT -->
      <td  style="border-collapse:collapse;width:100%;background-color:#FFFFFF;" align="center" width="100%" bgcolor="#FFFFFF">
        <table style="width:100%;overflow-x:auto;max-width:600px;" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="border-collapse:collapse;background-color:#FFFFFF;" align="center" bgcolor="#FFFFFF">
                <table style="width:100%;" width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td style="border-collapse:collapse;min-height:22px;width:20px;" height="22" width="20"></td>
                      <td style="border-collapse:collapse;"></td>
                      <td style="border-collapse:collapse;width:20px;" width="20"></td>
                    </tr>
                    <tr>
                      <td style="border-collapse:collapse;width:20px;" width="20"></td>
                      <td style="border-collapse:collapse;line-height:33px;font-style:italic;font-size:24px;font-family: Georgia;color:rgb(45,40,70);" class="font-24 sim-row-header1-content">Vous avez souhaité participé à la phase de test de Parentheze, nous vous tenons au courant quand tout est en place. Dés à présent, visitez la page facebook de Parentheze et n'hésitez pas à nous faire part de vos idées. À bientôt!</td>
                      <td style="border-collapse:collapse;width:20px;" width="20"></td>
                    </tr>
                    <tr>
                      <td style="border-collapse:collapse;width:20px;" width="20"></td>
                      <td style="border-collapse:collapse;"></td>
                      <td style="border-collapse:collapse;width:20px;" width="20"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;min-height:30px;background-color:#FFFFFF;" align="center" height="30" bgcolor="#FFFFFF"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
