<%= link_to user_profile_favorite_path(@user, @profile, @favorite), method: :delete, remote: true, class:"btn btn-yellow-inverse" do %>
  <p><i class="far fa-star%>"></i><%= t('.text') %></p>
<% end %>
