<%= content_for :title_tag do t('metas.titles.admin') end %>


<div class="dashboard">
  <%= link_to(content_tag(:i, nil, class: 'fa fa-sign-out-alt'), root_path, class: "pastille pastille-yellow pastille-action flexbox" ) %>

  <div class="container">
    <div class="row margin-bottom-small">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="white">Inscription à valider :  </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render @profiles %>
      </div>
    </div>
  </div>
</div>
