// Specific CSS for your home-page
.home {
  color: white;
  background-color: $purple;
}
.slide0 {
  text-align: center;
  width: 60%;
  margin-top: 10%;
}
.slide1 {
  position: absolute;
  right: 5%;
  width: 40%;
  text-align: left;
}
.slide2 {
  position: absolute;
  left: 5%;
  width: 40%;
  text-align: left;
}
.slide3 {
  position: absolute;
  bottom: 10%;
  width: 80%;
  text-align: center;
}
.slide4 {
  position: absolute;
  right: 5%;
  width: 40%;
}
.slide_plan {
  width: 80%;
  h4 {
    line-height: 30px;
  }
  .plan-card {
    background-color: white;
    border: none;
    height: 340px;
    color: $medium-gray;
    h1 {
      font-family: $body-font;
      font-size: 125px;
      line-height: 150px;
    }

    &.emergency {
      background-color: $yellow;
      color: white;
    }
  }
}
@media (max-device-width : 375px){
  .slide0, .slide4 {
    width: 80%;
  }
  .slide1, .slide2, .slide4 {
    width: 70%;
  }
}
@media (min-device-width : 376px) and (max-device-width : 768px){
  .slide0, .slide-plan {
    width: 80%;
  }
  .slide1, .slide2, .slide4 {
    width: 60%;
  }
}
@media (min-device-width : 769px) and (max-device-width : 1024px){
  .slide0, .slide4, .slide-plan {
    width: 80%;
  }
  .slide1, .slide2{
    width: 60%;
  }
}
