// Specific CSS for your home-page
.home {
  color: white;
  background-color: $purple;
}
.page0 {
  text-align: center;
  width: 60%;
  margin-top: 10%;
}
.page1 {
  position: absolute;
  right: 5%;
  width: 40%;
}
.page2 {
  position: absolute;
  left: 5%;
  width: 40%;
}
.page3 {
  position: absolute;
  bottom: 10%;
  width: 80%;
  text-align: center;
}
.page4 {

}
