// Specific CSS for your home-page
.home {
  color: white;
  background-color: $purple;
  .slide0{
    margin-top: 10%;
  }
}
.why {
  color: white;
  background-color: $purple;
}
.footer {
  height: 300px;
  ul {
    display: inline;
  }
  a {
    margin: 30px;
  }
  .logo {
    width: 217px;
    height: 31px;
  }
}
