.mosaic {
  background-color: $light-purple;
  color: white;
  .mosaic-header {
    height: 150px;
  }
  .pastille_action {
    position: absolute;
    top: 5%;
    height: 5%;
  }
}
.page-wrapper {
  border-radius: $border-radius;
  box-shadow: $shadow;
  @include media-breakpoint-down(sm) { padding: 20px 10px 20px 10px; }
  @include media-breakpoint-up(sm) { padding: 40px; }
}
