<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple mosaic" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mosaic-header"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="row">
              <div class="col-12 col-sm-12">
                <h5>vous</h5>
                <%= render "shared/profile_card" %>
              </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9">
            <div class="row">
              <div class="col-12"><h5>autour de vous</h5></div>
              <% 10.times do %>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"><%= render "shared/profile_card" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

