<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mosaic-header"></div>
        </div>
        <div class="col-4">
          <h5>vous</h5>
          <%= render "shared/profile_card" %>
        </div>
        <div class="col-8">
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

