<div class="buttons-menu">
  <% if mosaic %>
    <%= render "shared/button_mosaic", color: "blue" %>
  <% end %>
  <% if action %>
    <%= render "shared/button_action", color: "yellow" %>
  <% end %>
</div>
