<div class="cookie-label flexbox slideUp">
  <div class="cookie-content flex-horizontal">
    <div class="margin-bottom-medium">
      <%= image_tag t('commons.cookie.image') %>
    </div>
    <div>
      <p><%= t('commons.cookie.text') %></p>
      <p><strong><span> <%= t('commons.cookie.button1_text') %></span></strong><strong><span><%= t('commons.cookie.button2_text') %></span></strong></p>
    </div>
    <div>
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>
