<div class="footer white-on-purple flexbox">
  <div class="text-center container">
    <%= cl_image_tag("parentheze/Parentheze_logo.svg", class: "logo margin-bottom-medium") %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 margin-bottom-small">
        <%= link_to t('shared.navbar.why'), pourquoi_parentheze_path %>
      </div>
      <div class="col-xs-12 col-sm-4 margin-bottom-small">
      <%= link_to t('.about'), pourquoi_parentheze_path %>
      </div>
      <div class="col-xs-12 col-sm-4 margin-bottom-small">
        <% if @session_ways %>
          <%= link_to t('.admin'), admin_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
