<div class="footer white-on-purple flexbox">
  <div class="text-center container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 margin-bottom-small">
        <%= link_to t('shared.navbar.why'), pourquoi_parentheze_path %>
      </div>
      <div class="col-xs-12 col-sm-6 margin-bottom-small">
      <%= link_to t('.admin'), admin_path %>
      </div>
    </div>
  </div>
</div>
