<div class="full-width">
  <%= simple_form_for :message, url: path, method: :get do |f| %>
    <div class="col-12">
      <%= f.input :comment, label: false, placeholder: placeholder, input_html: {value: value || "" }  %>
    </div>
    <div class="col-12">
      <%= f.button :submit, value: btn_text, data: { disable_with: "" }, class:"btn btn-blue #{addon}" %>
    </div>
  <% end %>
</div>

