<div class="full-width">
  <%= simple_form_for :message, url: path, method: :get do |f| %>
    <div class="col-12 col-sm-8">
      <%= f.input :comment, label: false, placeholder: placeholder %>
    </div>
    <div class="col-12 col-sm-4">
    <%= f.button :submit, value: t('commons.button.send'), data: { disable_with: "" } %>
    </div>
  <% end %>
</div>

