<div class="profile-card">
  <div class="profile-card-portrait" style="background-image: url('http://res.cloudinary.com/doodlid/image/upload/v1520267344/kdzvarw7tgncjkkhlny5.jpg')">
  </div>
  <div class="profile-card-description text-center">
    <h5 class="name">MAXIME &amp; JULIETTE </h5>
    <h5 class="reputation">Bonne réputation</h5>
    <h5 class="distance">200 mètres</h5>
  </div>
</div>
