<%= link_to root_path do %>
  <div class="profile-card empty">
    <div class="profile-card-portrait" style="background-image: url('<%= cl_image_path "parentheze/profile-card-invitation2.png" %>')">
    </div>
  </div>
<% end %>
