<div class="cookie">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 margin-bottom-medium">
        <%= image_tag t('commons.cookie.image') %>
      </div>
      <div class="col-xs-12">
        <p><%= t('commons.cookie.text') %></p>
        <p><%= t('commons.cookie.button1_text') %></p>
        <p><%= t('commons.cookie.button2_text') %></p>
      </div>
    </div>
  </div>
</div>
