<div class="footer white-on-purple flexbox">
  <div class="text-center">
    <%= cl_image_tag("parentheze/Parentheze_logo.svg", class: "logo margin-bottom-medium") %>
    <div class="footer-links">
      <%= link_to t('metas.titles.why'), pourquoi_parentheze_path %>
      <%= link_to t('metas.titles.about'), pourquoi_parentheze_path %>
      <%= link_to t('metas.titles.admin'), admin_path %>
    </div>
  </div>
</div>
