<div class="footer white-on-purple flexbox">
  <div class="text-center">
    <%= cl_image_tag("parentheze/Parentheze_logo.svg", class: "logo margin-bottom-medium") %>
    <div class="footer-links">
      <%= link_to t('.why'), pourquoi_parentheze_path %>
      <%= link_to t('.about'), pourquoi_parentheze_path %>
      <%= link_to t('.admin'), admin_path %>
    </div>
  </div>
</div>
