 <div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox white-on-purple" id="slide<%= id %>">
    <div>
    <p class="text-center"><%= t('.text') %></p>
    <%= render partial:'shared/contact_form' %>
    </div>
  </div>
</div>
