<div class="flex-parent">
  <div class="container-fluid fullscreen text-center flexbox slide-plan" id="slide2">
      <div class="plans">
        <h2><%= slide[:title] %></h2>
        <h5 class="yellow"><%= t('.slide_plan.text') %></h5>
        <div class="margin-bottom-medium">
          <div class="row">
            <% slide[:plans].each do |plan| %>
              <%= render 'plans', plan: plan %>
            <% end %>
        </div>
      </div>
      <%= render 'scroller', target_page: "slide3", link_image: t('.link_image') %>
    </div>
  </div>
</div>
