<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)">
  <h1 class="<%= id %>"><%= text %></h1>
  <%= render 'shared/next_page', target_page: target_page, icon: "fa-arrow-circle-down", label: false %>
</div>
