<div class="flex-parent">
  <div class="container-fluid fullscreen with-padding-for-xs  text-center flexbox slide-plan white-on-purple" id="slide2">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h2><%= slide[:title] %></h2>
        <h5 class="yellow"><%= slide[:text] %></h5>
        <div class="margin-bottom-medium">
          <div class="row">
            <% slide[:plans].each do |plan| %>
              <%= render 'plans', plan: plan %>
            <% end %>
          </div>
        </div>
        <%= render 'scroller', target_page: "slide3", link_image: t('.link_image') %>
      </div>
    </div>
  </div>
</div>
