<% content_for :title_tag do t('metas.titles.home') end %>

<div class="home">
  <% @slides.each_with_index do |slide, index| %>
    <%= render partial: "slide", locals: { slide: slide, index: index, target_page: "slide_manifeste#{index}" } %>
    <%= render partial: "slide_manifeste", locals: { slide: @slides_manifeste["slide#{index}".to_sym], index: index, target_page: "slide#{index+1}"} %>
  <% end %>
</div>
