<% content_for :title_tag do t('metas.titles.home') end %>

<div class="home">
  <% t('why.slides').each do |x| %>
    <%= render "slide", target_page: "slide#{x[0][-1].to_i+1}", id: "slide#{x[0][-1]}",  title: x[1][:title], text: x[1][:text], image: x[1][:image], link_image: x[1][:link_image], button_text: x[1][:button_text] %>
    <%= render "slide_manifeste", title: t('why.manifeste.slide'+x[0][-1]+'.title'), text: t('why.manifeste.slide'+x[0][-1]+'.text'), id: x[1][-1].to_i+1 %>
  <% end %>
</div>
