<% content_for(:title_tag) { t('.title') } %>

<div class="why">
  <% @slides.each_with_index do |slide, index| %>
    <%= render partial: "slide", locals: { slide: @slides.values[index], id: index, target_page: "slide_manifeste#{index}" } %>
    <%= render partial: "slide_manifeste", locals: { slide: @slides_manifeste.values[index], index: index, target_page: index == 6 ? "inscription-beta" : "slide#{index+1}"} %>
  <% end %>
  <%= render 'slide_subscription' %>
</div>
