<div class="tabs">
  <%= link_to t('.tab1'), admin_validations_path, class:"tab" %>
  <%= link_to t('.tab2'), admin_requested_path, class:"tab" %>
  <%= link_to t('.tab3'), admin_mailer_path, class:"tab" %>
</div>
