#cookie-label{
  position: fixed;
  background-color: white;
  bottom: 0px;
  z-index: 1500;
  width: 100%;
  height: 110px;

  box-shadow: 0 2px 0px 4px rgba(0, 0, 0, 0), 0 2px 6px 6px rgba(0, 0, 0, 0.05);
  .cookie-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    padding: 20px;
  }
  p{
    color: $dark-gray;
  }
  a {
    margin-right: 10px;
  }
  img {
    width: 40px;
    height: 40px;
  }
  .fa{
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  #cookie-label{
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  text-align: center;
  .cookie-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  img {
    width: 60px;
    height: 60px;
  }
}

}

