.profile-detailed {
  #photo {
    width: 100%;
  }
  .btn {
    margin-bottom: 50px !important;
  }
  .fileUpload {
    margin-left: 0;
  }
  .favorites-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
