<p>Bonjour, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre email sur Parentheze a été changé. <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre email sur Parentheze a été changé. <%= @resource.email %>.</p>
<% end %>
