<div>
  <table style="border-spacing:0;border-collapse:collapse;text-align:left;vertical-align:top;padding:0;width:100%;display:table;">
    <tbody>
      <tr style="padding:0;vertical-align:top;text-align:left;width:100%">
        <td style="padding:0;margin:0 auto;padding-bottom:16px;width:110px;padding-left:16px;padding-right:16px;">
          <a rel="nofollow" target="_blank" href="https://www.parentheze.com" style="padding:0;margin:0;">
            <%= cl_image_tag "parentheze/inscription_exemple_04.jpg", :radius=>8, style:"display:block;outline:none;text-decoration:none;width:auto;max-width:150px;clear:both;border:none;padding-top:48px;padding-bottom:16px;max-height:75px;" %>
          </a>
        </td>
        <td style="margin:0 auto;padding-bottom:16px;width:360px;padding-left:16px;padding-right:16px;">
          <a rel="nofollow" target="_blank" href="https://www.parentheze.com" style="padding:0;margin:0;">
            <%= cl_image_tag "parentheze/invitation_bubble.png", style:"display:block;outline:none; width:auto;max-width:100%;clear:both;border:none;padding-top:48px;padding-bottom:16px;max-height:75px;" %>
          </a>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr style="padding:0;vertical-align:top;text-align:left;width:100%">
        <td style="padding:0;margin:0 auto;padding-bottom:16px;width:220px;padding-left:16px;padding-right:16px;">
        </td>
        <td style="margin:0 auto;padding-bottom:16px;width:250px;padding-left:16px;padding-right:16px;">
          <a rel="nofollow" target="_blank" href="https://www.parentheze.com" style="padding:0;margin:0;">
            <%= cl_image_tag "parentheze/invitation_bubble_2.png", style:"display:block;outline:none; width:auto;max-width:100%;clear:both;border:none;padding-top:48px;padding-bottom:16px;max-height:75px;" %>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
